.root {
    background: #00bcd4;
    overflow: hidden;
}

.header {
    composes: font_mono from '../Base/Base.css';

    font-size: 20px;
    font-weight: 400;
    color: white;
    padding: 12px 12px 12px 24px;
    margin: auto;
    max-width: 760px;
    float: left;
}