{
  "plugins": [
    "babel-plugin-transform-decorators-legacy",
    ["babel-plugin-transform-es2015-template-literals", {"loose": true}],
    "babel-plugin-transform-es2015-literals",
    "babel-plugin-transform-es2015-function-name",
    "babel-plugin-transform-es2015-arrow-functions",
    "babel-plugin-transform-es2015-block-scoped-functions",
    ["babel-plugin-transform-es2015-classes", {"loose": true}],
    "babel-plugin-transform-es2015-object-super",
    "babel-plugin-transform-es2015-shorthand-properties",
    "babel-plugin-transform-es2015-duplicate-keys",
    ["babel-plugin-transform-es2015-computed-properties", {"loose": true}],
    ["babel-plugin-transform-es2015-for-of", {"loose": true}],
    "babel-plugin-transform-es2015-sticky-regex",
    "babel-plugin-transform-es2015-unicode-regex",
    "babel-plugin-check-es2015-constants",
    ["babel-plugin-transform-es2015-spread", {"loose": true}],
    "babel-plugin-transform-es2015-parameters",
    ["babel-plugin-transform-es2015-destructuring", {"loose": true}],
    "babel-plugin-transform-es2015-block-scoping",
    ["babel-plugin-transform-es2015-modules-commonjs", {"loose": true}],
    ["babel-plugin-transform-runtime", {
      "polyfill": false,
      "regenerator": false
    }]
  ]
}
