<h1 class="header header_big">Example</h1>

<div class="example">
    <h3>Input</h3>

    <div>
        <Input value=@searchState.query onenter=onSearch />
    </div>

    <h4>Binding value</h4>
    <div>
        {{@searchState.query}}
    </div>
</div>

<div class="example">
    <h3>Collection</h3>

    <Columns scope="cols">
        {{#each repositories tagName="table" as=cols.columnA scope="repository"}}
            <RepositoryTableRow model=repository />
        {{/each}}

        <RepositoriesTable collection=repositories as=cols.columnB />
    </Columns>
</div>