<h2>Repositories</h2>

<Select collection=repositories value=@calc.select textFrom="full_name" valueFrom="full_name" />

<div class="filter">
    <Input value=@searchState.query onenter=searchState.navigate />
</div>

<div class="table">
    <RepositoriesTable collection=repositories />
</div>

<Input value=@calc.a />
<Input value=@calc.b />

{{@calc.a}} + {{@calc.b}} = {{@calc.sum}}
