<div class="header">
    <Checkbox value=@task.done class="header_check"></Checkbox>
    <Input value=@task.title class="header_input" />
</div>

<div class="list">
    <span class="list_icon"></span>
    <Select collection=lists value=@task.list valueFrom="_id" textFrom="title"></Select>
</div>

<div class="footer">
    <div class="remove" title="Remove" onclick=onRemove></div>
    <div class="close" title="Close" onclick=onClose></div>
</div>