<div class="title" onclick=onTitleClick>{{title}}</div>

{{#each collection scope="item" class="menu{{#if @state.opened}} menu_open{{/if}}"}}
    <div
        class="item{{#if (isCurrent item)}} item_current{{/if}}"
        onclick=onSelectItem(item)
    >
        {{itemName item}}
    </div>
{{/each}}
