.root {
    position: relative;
    width: 100%;
}

.title {
    min-height: 20px;
    line-height: 20px;
}

.menu {
    display: none;
    position: absolute;
    width: 100%;
    background: white;
    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.15);
    max-height: 300px;
    overflow-y: auto;
}

.menu_open {
    display: block;
}

.item {
    padding: 5px 10px;
}

.item:hover {
    background: #e0eefa;
}

.item_current {
    background: #e0eefa;
}