<div class="{{#if @tasksState.currentTask}}layout_right{{else}}layout{{/if}}">
    <div class="left">
        <TodoLists lists=lists tasksState=tasksState></TodoLists>
    </div>

    <div class="content">
        <TodoForm taskName=@state.taskName oncreate=onCreate tasksState=tasksState></TodoForm>

        <TodoItems collection=tasks.forCurrentList class="tasks" tasksState=tasksState></TodoItems>
    </div>

    {{#watch @tasksState.currentTask notEmpty=true class="right"}}
        <TodoDetails task=tasksState.currentTask tasksState=tasksState />
    {{/watch}}
</div>
