.root {
    /*composes: root from '../Page/Page.css';*/
}

.tasks {
}

.layout {
    display: table;
    width: 100%;
    height: calc(100% - 52px);
}

.layout_right {
    composes: layout;
}

    .layout_right .right {
        display: table-cell;
        vertical-align: top;
        width: 200px;
    }

    .layout_right .content {
        width: calc(100% - 400px);
    }

.left, .right {
    width: 200px;
    display: table-cell;
    vertical-align: top;
    background: #f7f7f7;
}

.content {
    display: table-cell;
    vertical-align: top;
    width: calc(100% - 200px);
    padding: 5px 10px;
}

.right {
    display: none;
}