{{#each lists scope="list" class="list"}}
    <TodoListItem list=list tasksState=tasksState></TodoListItem>
{{/each}}

{{#if @state.create class="footer"}}
    <TodoListForm title=@state.title oncreate=onCreate onescape=setNormalMode></TodoListForm>
{{else}}
    <div class="create" onclick=setCreateMode>Create list</div>
{{/if}}
