.root {
    padding: 0 10px 0 30px;
    line-height: 30px;
    cursor: pointer;
    background: #f7f7f7 url("./TodoListItem.svg") no-repeat 5px 5px;
}

.root:hover {
    background-color: #e0eefa;
}

.current {
    composes: root;

    background-color: #e0eefa;
}