.root {
    display: inline-block;
    line-height: 30px;
    padding-left: 36px;
    position: relative;
    height: 30px;
}

.icon {
    background: url('./Checkbox.svg') no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 8px;
    top: 5px;
}

.icon_checked {
    composes: icon;

    background: url('./CheckboxChecked.svg') no-repeat;
}
