.root {
    max-width: 760px;
    margin: auto;
}

.title {
    color: #00bcd4;
    font-size: 34px;
    line-height: 40px;
    font-weight: 400;
    margin-bottom: 30px;
}

.text {
    composes: font_normal from '../Base/Base.css';
}