.root {
    width: 760px;
    margin: auto;
}

.title {
    color: #00bcd4;
    font-size: 34px;
    line-height: 40px;
    font-weight: 400;
    margin-bottom: 30px;
}

.text {
    font-size: 20px;
    line-height: 32px;
}