{{#if @state.edit class="{{#if @state.edit}}mode_edit{{else}}mode_item{{/if}}" onclick=setCurrent}}
    <TodoForm taskName=@state.taskName tasksState=tasksState oncreate=onSave />
{{else}}
    <Checkbox value=@task.done >
        {{@task.title}}
    </Checkbox>

    {{!--<button class="remove" onclick=onRemove>Remove</button>--}}
    {{!--<button class="edit" onclick=onEdit>Edit</button>--}}
{{/if}}
