.root {
    composes: font_normal from '../Base/Base.css';
    padding: 5px 10px;

    /*border: 1px solid #999;*/
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    background: #f7f7f7;
}

.root + .root {
    margin-top: 1px;
    /*border-top: 1px dotted #999;*/
}

.done {
    composes: root;
    text-decoration: line-through;
}

.current {
    background: #e0eefa;
}

.button {
    float: right;
    display: none;
}

.edit {
    composes: button;
}

.remove {
    composes: button;
}

.root:hover .button {
    display: inline-block;
}

.mode_edit {

}

.mode_item {

}