{{#if @state.edit class="{{#if @state.edit}}mode_edit{{else}}mode_item{{/if}}"}}
    <TodoForm taskName=@state.taskName oncreate=onSave />
{{else}}
    <Checkbox value=@task.done >
        {{@task.title}}
    </Checkbox>

    <button class="remove" onclick=onRemove>Remove</button>
    <button class="edit" onclick=onEdit>Edit</button>
{{/if}}
